*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Dancing Script', cursive;
    height: 100vh;
    display: flex;   
}
.box-carousel{
    width: 70%;
    height: 50vh;
    margin: auto;
    margin-top: 40px;
}
.carousel{
    width: 100%;
    display: flex;
    align-items: center;
}
.carousel-images{
    width: 100%;
    position: relative;
    
}
.carousel-images img{
    width: 100%;
}
.carousel-balls{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate( - 50%);
}
.carousel-balls i{
    color: #fff;
    margin-left: 10px;
}
.carousel-balls i.active{
    color: red;
}
.left-carousel,
.right-carousel{
    color:red;
    font-size: 50px;
}
    
    

